---
//TODO display money as unique visitors

    const currentDate = new Date();
    const formattedDate = (date) => {
        const currentDate = date;

        const days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'];
        const day = days[currentDate.getDay()];

        const hours = currentDate.getHours().toString().padStart(2, '0');
        const minutes = currentDate.getMinutes().toString().padStart(2, '0');

        return `${day} / ${hours}:${minutes} / $0`
    }
---

<div class="timer">
    <hr>
    {formattedDate(currentDate)}
</div>

<style>
    .timer {
        color: #e6991d;
        margin-top: 4rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 6.25rem;
        background-color: #010101;
        padding: 1rem;
    }
</style>