---

---

<div class="timer">
    <hr>
    THU / 17:38 / $2000
</div>

<style>
    .timer {
        color: #e6991d;
        margin-top: 4rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 6.25rem;
        background-color: #010101;
        padding: 1rem;
    }
</style>