body {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  text-rendering: optimizeSpeed;
}

.cs-btn {
  cursor: pointer;
}

.cs-btn:disabled {
  cursor: not-allowed;
}

.footer-btns .cs-btn + .cs-btn {
  margin-left: 8px;
}
